fastapi==0.135.3
uvicorn[standard]==0.44.0
psycopg[binary]==3.3.3
redis==7.4.0
passlib[argon2]==1.7.4
PyJWT==2.12.1
python-multipart==0.0.24
pytest==9.0.2
httpx==0.28.1
pypinyin==0.55.0
sqlalchemy==2.0.49
alembic==1.18.4
asyncpg==0.31.0
gunicorn==25.3.0
